<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- db연결 설정 -->
  <properties resource="kr/or/ddit/db/mybatis/db.properties"/>
  
  <!-- vo 별칭 부여 -->
  <typeAliases>
  	<typeAlias alias="UserVO" type="kr.or.ddit.user.model.UserVO"/>
  	<typeAlias alias="BoardVO" type="kr.or.ddit.board.model.BoardVO"/>
  	<typeAlias alias="PostingVO" type="kr.or.ddit.posting.model.PostingVO"/>
  	<typeAlias alias="PageVO" type="kr.or.ddit.util.model.PageVO"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- mapper 설정 -->
  <mappers>
    <mapper resource="kr/or/ddit/db/mybatis/mapper/user.xml"/>
    <mapper resource="kr/or/ddit/db/mybatis/mapper/board.xml"/>
    <mapper resource="kr/or/ddit/db/mybatis/mapper/posting.xml"/>
  </mappers>
</configuration>